Package: {{pkg_name}}
Version: {{pkg_version}}
{{#if pkg_license~}}
License: {{pkg_license}}
{{/if~}}
Vendor: {{pkg_origin}}
Architecture: {{architecture}}
Maintainer: {{{maintainer}}}
Installed-Size: {{installed_size}}
Section: {{section}}
Priority: {{priority}}
{{#if pkg_upstream_url~}}
Homepage: {{pkg_upstream_url}}
{{/if~}}
Description: {{{description}}}
{{#if conflicts~}}
Conflicts: {{conflicts}}
{{/if~}}
{{#if depends~}}
Depends: {{depends}}
{{/if~}}
{{#if provides~}}
Provides: {{provides}}
{{/if~}}
{{#if replaces~}}
Replaces: {{replaces}}
{{/if~}}
